API_HOST=127.0.0.1
API_PORT=4317
WEB_ORIGIN=http://127.0.0.1:5173
STORAGE_DIR=./storage
WORKSPACE_DIR=./workspaces
TEMPLATES_DIR=./templates
AGENT_PROVIDER=fake
OPENCODE_COMMAND=opencode
OPENCODE_AGENT=build
OPENCODE_RUN_FORMAT=json
PREVIEW_HOST=127.0.0.1
PREVIEW_PORT_START=6200
